header {
    background: #f0eeee;
}

.header {
    padding: 30px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

img {
    max-width: 100%;
}

.header-left__logo {
    width: 120px;
    margin-right: 20px;
}

.header-left-nav {
    display: flex;
    gap: 40px;

}

.dropbtn {
    /* background: #fff; */
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.has-child {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}




.has-child:hover .dropdown-content {
    display: block;
}

.dropdown-col {
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin-top: 30px;
    gap: 50px;
}

.dropdown-col>.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.dropdown-col>.col>li {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    position: relative;
    font-size: 1.1rem;

}

.dropdown-col>.col>li::before {
    content: " ";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #108bf0;
    position: absolute;
    left: -16px;
    top: 7px;
}


.has-child:hover .dropbtn {}

.header-left-nav>li>a {
    padding: 0 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    position: relative;

}

.header-left-nav>li>a:hover {
    opacity: .7;
}

.header-left-nav>li.live>.dropbtn::before {
    content: " ";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: -5px;
    top: 7px;
}

.header-left-nav>li.has-child>.dropbtn::after {
    content: "\f078";
    font-family: "FontAwesome", sans-serif;
    color: #333;
    font-weight: 100;
    margin-left: 8px;
}

.uk-text-right {
    text-align: right !important;
}

.header-right {
    display: flex;
}

.header-right__item {
    margin-right: 30px;
}

.header-right__item:last-child {
    margin-right: 0px;
}

.header-right-item__value img {
    margin-right: 5px;
}

.header-right-item__value span {
    font-weight: 500;
    font-size: 18px;
}


.header-right__item {
    font-size: 18px;

}


.header-right-item__label {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.dollar {
    color: #2adb20;
}

.header-right-item__value .dollar::after {
    color: #000;
    content: "|";
    opacity: 0.1;
    margin: 0 3px;
}

.header-right-item__value {
    text-align: right;
}

/*  */