:root {
    --hover-color: #407ce8;
    --scale-color: rgba(0, 0, 0, 0.3);
    --before-after-color: rgba(0, 0, 0, 0.1);
}

header {
    background: #f0eeee;
}

.header {
    padding: 30px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

img {
    max-width: 100%;
}

.header-left__logo {
    width: 120px;
    margin-right: 20px;
}

.header-left-nav {
    display: flex;
    gap: 40px;

}

.hamburger {
    display: none;
}

.dropbtn {
    /* background: #fff; */
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.has-child {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}




.has-child:hover .dropdown-content {
    display: block;
}

.dropdown-col {
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin-top: 30px;
    gap: 50px;
}

.dropdown-col>.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.dropdown-col>.col>li {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    position: relative;
    font-size: 1.1rem;

}

.dropdown-col>.col>li::before {
    content: " ";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #108bf0;
    position: absolute;
    left: -16px;
    top: 7px;
}


.has-child:hover .dropbtn {}

.header-left-nav>li>a {
    padding: 0 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    position: relative;

}

.header-left-nav>li>a:hover {
    opacity: .7;
}

.header-left-nav>li.live>.dropbtn::before {
    content: " ";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: -5px;
    top: 7px;
}

.header-left-nav>li.has-child>.dropbtn::after {
    content: "\f078";
    font-family: "FontAwesome", sans-serif;
    color: #333;
    font-weight: 100;
    margin-left: 8px;
}

.uk-text-right {
    text-align: right !important;
}

.header-right {
    display: flex;
}

.header-right__item {
    margin-right: 30px;
}

.header-right__item:last-child {
    margin-right: 0px;
}

.header-right-item__value img {
    margin-right: 5px;
}

.header-right-item__value span {
    font-weight: 500;
    font-size: 18px;
}


.header-right__item {
    font-size: 18px;

}


.header-right-item__label {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.dollar {
    color: #2adb20;
}

.header-right-item__value .dollar::after {
    color: #000;
    content: "|";
    opacity: 0.1;
    margin: 0 3px;
}

.header-right-item__value {
    text-align: right;
}

@media only screen and (max-width: 992px) {

    body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header {
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        padding: 5px 0;
        background-color: #fff;
        width: 100%;
    }

    .header-left__logo {
        width: 80px;
        margin-right: 10px;
    }

    .header ul {
        display: none;
    }

    .header-right {
        gap: 5px;
    }

    .header-right__item {
        margin-right: 3px;
        border: 1px solid #888;
        border-radius: 5px;
        padding: 1px;

    }

    .main_mobile {
        display: flex;
        flex-direction: column;
        border: 1px solid green;
        width: 100%;
        position: relative;
    }

    .main_mobile img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;

    }

    .mobile-text {
        position: absolute;
        bottom: 50px;
        padding: 30px;
    }

    .mobile-btn {
        width: 100%;
        height: 8px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
    }

    .m-btn {
        border-radius: 1px;
        background: var(--hover-color);
    }






















    .feature-article {
        display: none !important;
    }

    .cards {
        display: none !important;
    }

    .section-4 {
        display: none !important;
    }

    .section-3 {
        display: none !important;
    }

    .section-2 {
        display: none !important;
    }








}