:root {
    --hover-color: #407ce8;
    --scale-color: rgba(0, 0, 0, 0.3);
    --before-after-color: rgba(0, 0, 0, 0.1);
}

.story_line {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.story_col {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.sec_logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sec_logo h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.span {
    background: #00B0F4;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
}

.story {
    width: 100%;
    position: relative;
    padding-top: 180%;
    overflow: hidden;
    height: fit-content;
    flex-basis: 0;
    border-radius: 5px;
}

.story:hover .s_text {
    height: 100%;
}

.story_text {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
}

.s_text {
    height: 50px;
    overflow: hidden;
    transition-duration: .9s;
    transition-property: margin-bottom;
}

.s_text div {
    transition-duration: .2s;
    transition-property: margin-bottom;
}

.eyes {
    position: relative;
    height: 30px;
    width: 100%;
    background: transparent;
    z-index: 10;
}

.eye::before {
    position: absolute;
    bottom: 2px;
    left: 5px;
    content: "\f06e 177";
    font-family: "FontAwesome", sans-serif;
    color: #fff;
    font-size: .9rem;
    display: flex;
    gap: 3px;
}



.story::after {
    content: "\f099";
    position: absolute;
    font-family: "FontAwesome", sans-serif;
    color: #fff;
    font-size: 1.3rem;
    top: 10px;
    left: 10px;
}




.story img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    transition: .3s ease-in-out;
}

/* .story:hover .story_text {
    transform: translateY(-30px);
} */

.story:hover>img {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.story::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    z-index: 2;
    border-radius: 8px;
}

.story:hover::before {
    opacity: 1;
}


/* today */

.today_line {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.row2_1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 2;
    flex-basis: 0;
}

.all {
    position: relative;
}

.daily_news {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 2;
    flex-basis: 0;
}

.daily_news1,
.daily_news2,
.daily_news3,
.daily_news4,
.daily_news5,
.daily_news6 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.day_btn:has(#btn1:checked)+.all .daily_news1,
.day_btn:has(#btn2:checked)+.all .daily_news2,
.day_btn:has(#btn3:checked)+.all .daily_news3,
.day_btn:has(#btn4:checked)+.all .daily_news4,
.day_btn:has(#btn5:checked)+.all .daily_news5,
.day_btn:has(#btn6:checked)+.all .daily_news6 {
    opacity: 1;
}



/* #btn1:checked~.daily_news {
    display: block;
}

#btn2:checked~.daily_news2 {
    display: block;
    opacity: 1;
}

#btn2:checked~.daily_news1 {
    display: none;
    opacity: 0;
} */




.news {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 50px;
}


.zoom {
    position: relative;
    background: #00B0F4;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    padding-top: 25%;
    overflow: hidden;
    height: fit-content;
    flex-basis: 0;
    border-radius: 8px;

}

.zoom img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    display: block;
    object-fit: cover;
    transition: all .2s ease-in-out;
}

.news_ppr {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 0;
}

.row2_2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    gap: 30px;
    border-left: 1px solid #dad6d6;
}

.row_to_col1 {
    padding-left: 60px;
}


.row_card {
    display: flex;
    flex-direction: column;
    padding: 5px;


}


.row_card>.img {
    width: 100%;
    position: relative;
    padding-top: 50%;
    overflow: hidden;
    height: fit-content;
    flex-basis: 0;
    border-radius: 8px;

}

.row_to_col2 {
    color: #000;
    background: rgba(192, 223, 255, .5411764705882353);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.trends {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-bottom: .9px dashed #b1acac;
    padding-bottom: 10px;
    transition: .3s ease-in-out;
}

.trends:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.trends:hover .trend {
    opacity: 0.7;
}

.trends h1 {
    color: #c25858;
    font-size: 3rem;
    line-height: 100%;
}

.trend {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: #000;

}




.zoom:hover>img {
    transform: scale(1.05);
    background: var(--scale-color);
    border-radius: 5px;
}

.zoom::before {
    content: 'Унших →';
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--before-after-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    z-index: 2;
    border-radius: 5px;
}

.zoom:hover::before {
    opacity: 1;
}

.highlight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.news_img {
    position: relative;
    width: 100%;
    padding-bottom: 400px;
}


.images {
    display: flex;
    width: 100%;
}

#kk {
    display: block;
    border: 2px solid #c25858;
}

.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}

.images input {
    display: none;
}



.dots {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {
    background: #fff;
}

#img1:checked~#kk {
    display: block;
}

#img2:checked~#kk2 {
    display: block;
}

.images:has(#img2:checked) {
    transform: translate(100%);
}

.day_btn {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.date_btn {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 20px;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    flex-basis: 0;

}



.daylight {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

}

.daylight h2 {
    font-size: 1.1rem;
    color: #cac4c4;

}

.daylight .date_t {
    color: var(--hover-color);
}

.daylight img {
    width: 30px;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 8px;
    color: #cac4c4;
    cursor: pointer;
    position: relative;


}

.date_btn>div {
    position: relative;
}

#btn1 {
    position: absolute;
    top: -30px;
    left: 0px;
    width: 100px;
    height: 65px;
    z-index: 1;
    opacity: 0;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
    position: absolute;
    top: -30px;
    left: 0px;
    width: 100px;
    height: 65px;
    z-index: 1;
    opacity: 0;
}

.daylight>.t_btn {
    color: var(--hover-color);
}


#btn1:checked+.date button,
#btn2:checked+.date button,
#btn3:checked+.date button,
#btn4:checked+.date button,
#btn5:checked+.date button,
#btn6:checked+.date button {
    background-color: var(--hover-color);
}

#btn1:checked+.date,
#btn2:checked+.date,
#btn3:checked+.date,
#btn4:checked+.date,
#btn5:checked+.date,
#btn6:checked+.date {
    color: var(--hover-color);
}




.date button {
    width: 100%;
    height: 7px;
    background-color: #efefef;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    border: none;

}

.date_btn>div:hover .date>.date_t {
    color: var(--hover-color);
}

.date_btn>div:hover .date>button {
    background-color: var(--hover-color);

}

.date>.click_date_btn {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: #efefef;
}

.date:hover .click_date_btn {
    color: #fff;
    background: var(--hover-color);
}

#scales {
    position: absolute;
    top: 3px;
    left: -1px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.date_time {
    position: absolute;
    top: 50px;
    right: 0px;
    background: #00B0F4;
    color: #fff;
    padding: 30px;
    display: none;
}

#scales:checked~.date_time {
    display: block;
}






@media only screen and (max-width: 992px) {

    .last-container {
        margin: auto;
        padding: 0px 30px !important;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header {
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        padding: 5px 0;
        background-color: #fff;
        width: 100%;
    }

    .header-left__logo {
        width: 80px;
        margin-right: 10px;
    }

    .header ul {
        display: none;
    }

    .header-right {
        gap: 5px;
    }

    .header-right__item {
        margin-right: 3px;
        border: 1px solid #888;
        border-radius: 5px;
        padding: 1px;

    }

    .main_mobile {
        display: flex;
        border: 1px solid green;
        width: 100%;
        position: relative;
        color: #fff;
    }

    .main-mobile2,
    .main-mobile3,
    .main-mobile4 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }


    .main_mobile img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;

    }

    .mobile-text {
        position: absolute;
        bottom: 50px;
        padding: 30px;
    }

    .mobile-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2px;
        z-index: 3;
    }

    .mobile-btn>.m-btn {
        border-radius: 1px;
        background: rgba(0, 0, 0, 0.6);
        position: relative;
    }

    .third-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-btn {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
    }

    .main-mobile1,
    .main-mobile2,
    .main-mobile3,
    .main-mobile4 {
        width: 100%;
    }

    .main-mobile1 img,
    .main-mobile2 img,
    .main-mobile3 img,
    .main-mobile4 img {
        display: block;
        width: 100%;
        height: 100%;

    }



    .main-btn>div {
        position: relative;
    }

    #mobile1,
    #mobile2,
    #mobile3,
    #mobile4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
    }

    .mobile-btn:has(#mobile1:checked) .m-btn1,
    .mobile-btn:has(#mobile2:checked) .m-btn2,
    .mobile-btn:has(#mobile3:checked) .m-btn3,
    .mobile-btn:has(#mobile4:checked) .m-btn4 {
        background-color: #407ce8;
    }

    .main_mobile:has(#mobile1:checked) .main-mobile1,
    .main_mobile:has(#mobile2:checked) .main-mobile2,
    .main_mobile:has(#mobile3:checked) .main-mobile3,
    .main_mobile:has(#mobile4:checked) .main-mobile4 {
        opacity: 1;
    }

    .new-mobile-section {
        display: none;
    }

    .trend-mobile-section {
        display: none;
    }


    #huge-btn1,
    #huge-btn2,
    #huge-btn3 {
        position: absolute;
        width: 100%;
        height: 30px;
        opacity: 0;
    }

    #huge-btn1:checked+.huge-btn,
    #huge-btn2:checked+.huge-btn,
    #huge-btn3:checked+.huge-btn {
        background: var(--hover-color);

    }

    .main-btn:has(#huge-btn2:checked)+.last-container .new-mobile-section {
        display: block;
    }

    .main-btn:has(#huge-btn2:checked)+.last-container .third-mobile {
        display: none;
    }

    .main-btn:has(#huge-btn2:checked)+.last-container .trend-mobile-section {
        display: none;
    }



    .main-btn:has(#huge-btn3:checked)+.last-container .trend-mobile-section {
        display: block;
    }

    .main-btn:has(#huge-btn3:checked)+.last-container .third-mobile {
        display: none;
    }

    .main-btn:has(#huge-btn3:checked)+.last-container .new-mobile-section {
        display: none;
    }


    .huge-btn {
        height: 30px;
        padding: 7px 0px;
        color: #fff;
        background-color: #212121;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .huge {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
    }

    .huge img {
        display: block;
        width: 15px;
    }

    .huge h2 {
        font-size: 15px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 10px;
        margin-top: 30px;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 5px;


    }

    .card .img {
        width: 100%;
        position: relative;
        padding-top: 46%;
        overflow: hidden;
        height: fit-content;
        flex-basis: 0;
        border-radius: 8px;

    }



    .img img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 8px;
        display: block;
        object-fit: cover;
        transition: all .2s ease-in-out;

    }


    .img:hover img {
        transform: scale(1.05);
        background: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }


    .img::before,
    .slide_img::before {
        content: 'Унших →';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        opacity: 0;
        z-index: 2;
        border-radius: 5px;
    }


    .img:hover::before,
    .slide_img:hover::before {
        opacity: 1;
    }

    .other {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f8f8;
        border: 1px solid #f2f2f2;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
    }

    .other img {
        display: block;
        align-items: center;
        width: 25px;
    }

    .other a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        font-size: 16px;
        color: #000;
    }


    .container {
        display: none !important;
    }





}