.section-4 {
    background-color: #1a1a1a;
    padding: 50px 0px;
}

.play_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-weight: 900;
    padding: 5px;
    padding-bottom: 20px;

}

.play_btn div {
    transition: .3s ease-in-out;
}

.play_btn:hover div {
    color: #276fe4;
    cursor: pointer;

}


.videos {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.video {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.video_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: 550;
    color: hsla(0, 0%, 100%, .8);
}

.video_card>.img {
    width: 100%;
    position: relative;
    padding-top: 60%;
    overflow: hidden;
    height: fit-content;
    flex-basis: 0;
    border-radius: 8px;

}


@media only screen and (max-width: 992px) {

    .last-container {
        margin: auto;
        padding: 0px 30px !important;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header {
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        padding: 5px 0;
        background-color: #fff;
        width: 100%;
    }

    .header-left__logo {
        width: 80px;
        margin-right: 10px;
    }

    .header ul {
        display: none;
    }

    .header-right {
        gap: 5px;
    }

    .header-right__item {
        margin-right: 3px;
        border: 1px solid #888;
        border-radius: 5px;
        padding: 1px;

    }

    .main_mobile {
        display: flex;
        border: 1px solid green;
        width: 100%;
        position: relative;
        color: #fff;
    }

    .main-mobile2,
    .main-mobile3,
    .main-mobile4 {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }


    .main_mobile img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;

    }

    .mobile-text {
        position: absolute;
        bottom: 50px;
        padding: 30px;
    }

    .mobile-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2px;
        z-index: 3;
    }

    .mobile-btn>.m-btn {
        border-radius: 1px;
        background: rgba(0, 0, 0, 0.6);
        position: relative;
    }

    .third-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-btn {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
    }

    .main-mobile1,
    .main-mobile2,
    .main-mobile3,
    .main-mobile4 {
        width: 100%;
    }

    .main-mobile1 img,
    .main-mobile2 img,
    .main-mobile3 img,
    .main-mobile4 img {
        display: block;
        width: 100%;
        height: 100%;

    }



    .main-btn>div {
        position: relative;
    }

    #mobile1,
    #mobile2,
    #mobile3,
    #mobile4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
    }

    .mobile-btn:has(#mobile1:checked) .m-btn1,
    .mobile-btn:has(#mobile2:checked) .m-btn2,
    .mobile-btn:has(#mobile3:checked) .m-btn3,
    .mobile-btn:has(#mobile4:checked) .m-btn4 {
        background-color: #407ce8;
    }

    .main_mobile:has(#mobile1:checked) .main-mobile1,
    .main_mobile:has(#mobile2:checked) .main-mobile2,
    .main_mobile:has(#mobile3:checked) .main-mobile3,
    .main_mobile:has(#mobile4:checked) .main-mobile4 {
        opacity: 1;
    }

    .new-mobile-section {
        display: none;
    }

    .trend-mobile-section {
        display: none;
    }


    #huge-btn1,
    #huge-btn2,
    #huge-btn3 {
        position: absolute;
        width: 100%;
        height: 30px;
        opacity: 0;
    }

    #huge-btn1:checked+.huge-btn,
    #huge-btn2:checked+.huge-btn,
    #huge-btn3:checked+.huge-btn {
        background: var(--hover-color);

    }

    .main-btn:has(#huge-btn2:checked)+.last-container .new-mobile-section {
        display: block;
    }

    .main-btn:has(#huge-btn2:checked)+.last-container .third-mobile {
        display: none;
    }

    .main-btn:has(#huge-btn2:checked)+.last-container .trend-mobile-section {
        display: none;
    }



    .main-btn:has(#huge-btn3:checked)+.last-container .trend-mobile-section {
        display: block;
    }

    .main-btn:has(#huge-btn3:checked)+.last-container .third-mobile {
        display: none;
    }

    .main-btn:has(#huge-btn3:checked)+.last-container .new-mobile-section {
        display: none;
    }


    .huge-btn {
        height: 30px;
        padding: 7px 0px;
        color: #fff;
        background-color: #212121;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .huge {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
    }

    .huge img {
        display: block;
        width: 15px;
    }

    .huge h2 {
        font-size: 15px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 10px;
        margin-top: 30px;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 5px;


    }

    .card .img {
        width: 100%;
        position: relative;
        padding-top: 46%;
        overflow: hidden;
        height: fit-content;
        flex-basis: 0;
        border-radius: 8px;

    }



    .img img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 8px;
        display: block;
        object-fit: cover;
        transition: all .2s ease-in-out;

    }


    .img:hover img {
        transform: scale(1.05);
        background: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }


    .img::before,
    .slide_img::before {
        content: 'Унших →';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        opacity: 0;
        z-index: 2;
        border-radius: 5px;
    }


    .img:hover::before,
    .slide_img:hover::before {
        opacity: 1;
    }

    .other {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f8f8;
        border: 1px solid #f2f2f2;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
    }

    .other img {
        display: block;
        align-items: center;
        width: 25px;
    }

    .other a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        font-size: 16px;
        color: #000;
    }


    /* section4 mobile */


















    .container {
        display: none !important;
    }





}